@import "../../../stylesheets/colors";

.RateChangeLog {
  button {
    padding: 6px 8px;
    background: transparent;
    border: 1px solid $raven;
    border-radius: 5px;
    cursor: pointer;
    color: $dark-raven;

    &:disabled {
      border: 2px solid $pastel-green;
      cursor: not-allowed;
    }
  }

  button + button {
    margin-left: 16px;
  }

  :global {
    .introduction {
      text-align: center;
      margin-top: 16px;
      color: $raven;
      font-size: 0.8rem;
    }
  }
}
