@import "../../../stylesheets/colors";

.RateChangeLog {
  button {
    padding: 6px 8px;
    background: transparent;
    border: 1px solid $raven;
    border-radius: 5px;
    cursor: pointer;
    color: $dark-raven;

    &:disabled {
      border: 2px solid $pastel-green;
      cursor: not-allowed;
    }
  }

  button + button {
    margin-left: 16px;
  }

  :global {
    .introduction {
      text-align: center;
      margin-top: 16px;
      color: $raven;
      font-size: 0.8rem;
    }

    .bar-wrapper {
      position: relative;
    }

    .hider {
      display: none;
    }

    .no-data {
      pointer-events: none;

      .hider {
        display: block;
        position: absolute;
        background: #fff;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        // backdrop-filter: blur(10px) opacity(0.8);
        font-size: 0.8rem;
        text-align: center;
      }
    }
  }
}
